[submodule "libraries/MD_Parola"]
	path = libraries/MD_Parola
	url = https://github.com/MajicDesigns/MD_Parola
[submodule "libraries/MD_MAX72XX"]
	path = libraries/MD_MAX72XX
	url = https://github.com/MajicDesigns/MD_MAX72XX
[submodule "libraries/ArduinoJson"]
	path = libraries/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson
[submodule "libraries/WiFiManager"]
	path = libraries/WiFiManager
	url = https://github.com/kentaylor/WiFiManager
[submodule "libraries/DoubleResetDetector"]
	path = libraries/DoubleResetDetector
	url = https://github.com/datacute/DoubleResetDetector
[submodule "libraries/brzo_i2c"]
	path = libraries/brzo_i2c
	url = https://github.com/pasko-zh/brzo_i2c
[submodule "libraries/DallasTemperature"]
	path = libraries/DallasTemperature
	url = https://github.com/milesburton/Arduino-Temperature-Control-Library
[submodule "libraries/esp8266-oled-ssd1306"]
	path = libraries/esp8266-oled-ssd1306
	url = https://github.com/ThingPulse/esp8266-oled-ssd1306
[submodule "libraries/NtpClient"]
	path = libraries/NtpClient
	url = https://github.com/gmag11/NtpClient
[submodule "libraries/PubSubClient"]
	path = libraries/PubSubClient
	url = https://github.com/knolleary/pubsubclient
